/* Global Layout Set-up */
* { 
    box-sizing: border-box;
   
    
    
  }
    
/* Header Styling */
.promo {
  text-align: center;
  background-repeat:no-repeat;
  background-color:#ffe6e6;
  color:#000066;
  padding:5px;
  font-size: 0.8rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.notify {
  background-color: white;
  overflow: hidden;
  color: #000066;
}

.brandname {
  color: #000066;
  overflow: hidden;
  text-align: left;
  font-weight: 700;
  background: white;
  text-align: center;
}

a {
  text-decoration: none; 
  color: #000066;
}

.main-nav {
  width: 100%;
  min-height: 30px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 600;

}

.main {
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  align-content: center;

}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background: white;

}

.nav li {
  padding: 5px 10px 10px 10px;
}

.profile-image {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  }

.ourbrand {
    padding-top: 150px;
    padding-bottom: 75px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2.5rem;
}

.title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2.5rem;
 }

 .theslate {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2.5rem;
  }

  .mid {
    padding-top: 150px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }


 .vision {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
          }

        /* Body */

.body {
  text-align: center;
}

.paragraph-1, .paragraph-2, .paragraph-3 {
  padding: 25px 25px;
  background-color: #ffe6e6;
}


p {padding: 5px 5px 10px 10px;
   line-height: 1.9rem;}



#mis-image, #bio-image, #creative-image, #mis-imagemd, #bio-imagemd, #creative-imagemd { 
  width: 100%;
  height: auto;}

.buttom, .buttom-2 {
  background-color:#000066;
  color: white;
  }

ul.nav-bottom {
  list-style-type: none;
}  

.footer {
  padding: 2px 2px;
  background-color: #ffe6e6;
  text-align: center;
}

.paligncenter {
  text-align: center;
}

.paddingform1 {
  padding-top: 25px;
  padding-bottom: 25px;
 
 }

 
 /* .position { position: initial;
  
  z-index: 600;
 } */

/* Styles for Small screens */

@media screen and (max-width: 996px) {
  
 .profile-image1 {display: none;
  
}
   
.profile-image2 {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  }

.img-biomd, .img-mismd, .img-cremd {display: none;

}

.img-bio, .img-mis, .img-cre {display: block;
                             

}
.parr {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  word-wrap: break-word;
 
}

}



@media screen and (min-width: 996px) {

  .flex {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}


.tit {
  width: 40%;
  text-align: right;
  margin: auto;
}

.for {
  width: 20%;
  text-align: center;
  margin: auto;
}
.par {
  width: 40%;
  text-align: left;
  word-wrap: break-word;
  padding-right: 18%;
}

.parr {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  word-wrap: break-word;
 
}


.img-mismdx, .paragraph-1, .paragraph-3, .buttom-2 {
  float: left;
  width: 50%;
}

.img-biomdx, .img-cremdx, .buttom, .paragraph-2 { 
  float: right;
  width: 50%;

}

.reverse {
  flex-direction: row-reverse;
}


.img-bio, .img-mis, .img-cre, .profile-image1  {display: none;

  }
  
  .profile-image2 {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    }
   
   
   
    }
  



/* Styles for larger screens */

@media screen and (min-width: 1200px) {
    
  .flex {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
  }

  .pad {
    padding-left: 20%;
    padding-right: 20%;
  }

  .pad2 {
    padding-left: 30%;
    padding-right: 30%;
  }

  .paragraph-1, .paragraph-3, .buttom-2, .img-mis {
    float: left;
    width: 50%;
  }

  /* #bio-image { 
    float: right;
    width: 100%;

} */

  .img-bio, .img-cre, .buttom, .paragraph-2 { 
  float: right;
  width: 50%;

}

.reverse {
  flex-direction: row-reverse;
}

  .tit {
    width: 40%;
    text-align: right;
    margin: auto;
  }

  .for {
    width: 20%;
    text-align: center;
    margin: auto;
  }

  .par {
    width: 40%;
    text-align: left;
    word-wrap: break-word;
    padding-right: 18%;
  }

  .parr {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    word-wrap: break-word;
   
  }

.buttom-2, .buttom-3 {
   width: 25%;
}

/* Contact */
.grid1 {
  max-width: 100%;
  display: grid; /* makes the class a grid container */
  grid-template-columns: 1fr 20% 1fr; /* defines the size of each column */

}

.grid2 {
  max-width: 100%;
  display: grid; /* makes the class a grid container */
  grid-template-columns: 1fr 40% 1fr; /* defines the size of each column */
  padding-top: 20px;
  padding-bottom: 50px;
}

.paddingform2 {
 padding-left: 25%;
 padding-right: 25%;

}

.profile-image1 {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  }

  .profile-image2, .img-biomd, .img-mismd, .img-cremd {display: none;
  
  }

  .img-bio, .img-cre, .img-mis  {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
        }
  

}
   




/* ====================================
                  Form
======================================*/

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}